In [6]:
#TASK#01
# Write two lines of code below, each assigning a value to a variable
age=22
name="Aliyah"

In [7]:
# Now write a print statement using .format() to print out a sentence and the 
#   values of both of the variables
print("Hello my name is {0} and i am {1} years old".format(name,age))

Hello my name is Aliyah and i am 22 years old

In [20]:
#Task#2
# Browse the complete list of string methods at:# https://docs.python.org/3/library/stdtypes.html#string-methods
# and try them out here
obj = "hello woRLD!"
print(obj.capitalize())
print(obj.casefold())
print(obj.expandtabs(tabsize=8))
print(obj.isalpha())

Hello world!
hello world!
hello woRLD!
False

In [28]:
#Task#03
# use list indexing to determine the number of days in monthprint(num_days)
month = int(input("Enter an integer as input: "))
new=month-1
days_in_month = [31,28,31,30,31,30,31,31,30,31,30,31]
print(days_in_month[new])

In [29]:
#Task#04
eclipse_dates = ['June 21, 2001', 'December 4, 2002', 'November 23, 2003',
                 'March 29, 2006', 'August 1, 2008', 'July 22, 2009',
                 'July 11, 2010', 'November 13, 2012', 'March 20, 2015',
                 'March 9, 2016']

recent_dates = eclipse_dates[-3:]
print(recent_dates)

['November 13, 2012', 'March 20, 2015', 'March 9, 2016']

In [31]:
#Task#05
students = {
    "student1": {
        "name": "Aliyah",
        "age": 21,
        "grade": "A"
    },
    "student2": {
        "name": "Anousha",
        "age": 12,
        "grade": "A"
    },
    "student3": {
        "name": "Lisa",
        "age": 19,
        "grade": "B+"
    }
}

# Accessing student data
print(students["student1"]["name"])
print(students["student2"]["age"])
print(students["student3"]["grade"])

# Modifying student data
students["student1"]["age"] = 19
students["student2"]["grade"] = "A"

# Adding a new student
students["student4"] = {
    "name": "Aishaa",
    "age": 14,
    "grade": "A+"
}

# Deleting a student
del students["student3"]

# Iterating over all students
for student_id, student_data in students.items():
    print(f"Student ID: {student_id}")
    print(f"Name: {student_data['name']}")
    print(f"Age: {student_data['age']}")
    print(f"Grade: {student_data['grade']}")
    print("---")

Aliyah
12
B+
Student ID: student1
Name: Aliyah
Age: 19
Grade: A
---
Student ID: student2
Name: Anousha
Age: 12
Grade: A
---
Student ID: student4
Name: Aishaa
Age: 14
Grade: A+
---